@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
body{
    font-size: 16px;
    color: white;
    background-color: rgb(37, 37, 37);
    margin: auto;
    font-family:'Lato', sans-serif; 
}

.tx{
    display: block;
}
.t1{
    font-size: 180px;
    font-weight: 900;
}
.t2{
    font-size: 50px;
}
.t3{
    font-size: 30px;
}
.t4{
    font-size: 25px;
}
.t5{
    font-size: 16px;
}
.t6{
    font-size: 14px;
}
.t7{
    font-size: 9px;
}
.entry{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    margin-top: 85px;
}
.entry a{
    color: white;
    text-decoration: none;
    margin: 10px;
}
.entry a:hover{
    color: #ffd400;
}
.entryleft{
    display: flex;
    align-items: center;
}
.logo{
    font-size: 1.7em;
    color: white;
    padding: 20px;
    background: #fcc800;
    margin-left: 20px;
    margin-right: 20px;
}
.entryright a:last-child{
    margin-right: 40px;
}
.models{
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
}
.models a{
    margin-left: 25px;
    margin-right: 25px;

    text-align: center;
    text-decoration: none;
    color: darkgray;
}
.models a:hover{
    color: #ffd400;
}
.conthead{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 10px;
    left: 0px;
    z-index: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 15px;
   
}
.header a{
    color: white;
    margin: 25px;
    text-decoration: none;
}
.spec1{
    width: 100%;
    /* width: 80rem;
    height: 40rem; */
    position:relative;
    background-color: black;
    }
.sp1pic{
    width: 100%;
    /* position: absolute; */
}
.spec1 .t2 {
    color: #ffd400;
}
.spec1txt{
    width: 50%;
    position: absolute;
    top: 180px;
    left: 200px;
}
.spec1txt > .t4{
    margin-top: 8px;
}
.spec1txt > .t5 {
    margin-top: 8px;
}
.spec2{
    width: 100%;
    /* width: 80rem;
    height: 40rem; */
    position:static;
    background-image: linear-gradient(to bottom right,#ffd400,#f99e01) ;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 100px;
}
.spec2txt{
    width: 100%;
    text-align: center;
    color: black;
    position: static;
    top: 1px;
    left: 0;
}
.sp21{
    margin-top: 5px;
}
.sp22{
    margin-top: 60px;
}
.sp23{
    margin-top: 10px;
}
.sp24{
    margin-top: 25px;
}
.line{
    height: 1px;
    width: 400px;
    background-color: black;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.spec3{
    position: relative;
    overflow: hidden;
}
.spec3 > img{
width: 100%;
overflow: hidden;
display: block;
}
.sp3txt{
    position: absolute;
width: 100%;
    top: 10px;
    left: 10px;
    
}
.spec3  .t2{
    text-align: center;
    color: #ffd400;
}
.perfomance{
    width: 30%;
    margin-left: 200px;
}
.perfomance .t3{
    color: #ffd400;
}
.peri{
    box-sizing: border-box;
    display: flex;
    width: 50%;
}
.per{
    display: flex;
}
.peri{
    position: relative;
}
.procenty{
    margin-top: 50px;
    margin-left: 200px;
    width: 33%;
}
.procrow{
    display: flex;
    height: 75px;
}
.procrow .t7{
    margin: 10px;
}
.procrow .t7 span{
    margin: 5px;
}
.nump{
    font-size: 18px;
    position: absolute;
    top: 27px;
    left: 25px;

}
.txtb1{
    display: block;
    margin-bottom: -8px;
    font-size: 15px;
    font-weight: 100;
}
.txtb2{
    font-size: 9px;
    color: #ffd400;
}
.txtb{
    position: absolute;
    top: 22px;
    left: 73px;
}
.tx{
    display: block;
}
.txp{
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: block;
}
.spec4{
    overflow:hidden;
    display: block;
    position: relative;
}
.sp4pic{
    width: 100%;
    display: block;
}
.spec4tx{
    width: 25%;
 /*    margin-right: 0px;
    margin-left: auto; */
    position: absolute;
    top: 50px;
    left: 800px;
}
.spec4 hr{
    width: 10%;
    margin-left: 0px;
    margin-right: auto;
    color: #ffd400;
    background-color: #ffd400;
    border: none;
    height: 4px;
}
.spec4  .t3 {
    color: #ffd400;
    font-weight: 900;
    margin-top: -5px;
    margin-bottom: -5px;
}
.spec4 .t6{
   line-height: 2;
}
.line41{
    background-color: #f99e01;
    width: 10%;
    height: 5px;
    margin-top: 30px;
}
.line42{
    background-image: linear-gradient(90deg,#fcc800,#f69602 65%,#f27204);
    width: 65%;
    height: 5px;
}
.line43{
    background-image: linear-gradient(90deg,#fcc800,#f69602 65%,#f27204);
    width: 30%;
    height: 5px;
}
.spec5{
    position: relative;
}
.spec5 img{
    width: 100%;
}
.spec5tx{
    width: 30%;
    position: absolute;
    top: 160px;
    left: 200px;
    display: block;

}
.spec5tx span{
    display: block;
    margin: 15px;
}
.spec5tx .t3{
    color: #ffd400;
}